.loginButton{
    background-color: #2296be;
    padding: 12px 120px;
    border-radius: 7px;
    color: #fff;
}
.loginButton:hover{
    background-color: #fff;
    color: #2296be;
    border: 1px solid #2296be;
    transition: ease 0.2s;
}
.googleBtn{
    background-color: #fff;
    color: #000;
    border: 1px solid #2296be;
    border-radius: 7px;
    display: block;
    width: 320px;
    padding: 12px;
}
.otpBtn{
    background-color: #2296be;
    color: #fff;
    padding: 11px;
    border-radius: 7px;
}